<!DOCTYPE html>
<html lang="en">
<head>
  <!-- Meta tags -->
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="Drift - A fully responsive, HTML5 based admin template">
  <meta name="keywords" content="Responsive, HTML5, admin theme, business, professional, jQuery, web design, CSS3, sass">
  <!-- /meta tags -->
  <title>Attendance Data</title>

  {% load static %}
  <!-- Site favicon -->
  <link rel="shortcut icon" href="{% static 'images/favicon.ico' %}" type="image/x-icon">
  <!-- /site favicon -->

  <!-- Font Icon Styles -->
  <link rel="stylesheet" href="{% static 'node_modules/flag-icon-css/css/flag-icon.min.css' %}">
  <link rel="stylesheet" href="{% static 'vendors/gaxon-icon/styles.css' %}">
  <script src="https://kit.fontawesome.com/0287685415.js" crossorigin="anonymous"></script>
  <!-- /font icon Styles -->

  <!-- Perfect Scrollbar stylesheet -->
  <link rel="stylesheet" href="{% static 'node_modules/perfect-scrollbar/css/perfect-scrollbar.css' %}">
  <!-- /perfect scrollbar stylesheet -->

  <!-- Load Styles -->
    <link rel="stylesheet" href="{% static 'node_modules/owl.carousel/dist/assets/owl.carousel.min.css' %}">
    <link rel="stylesheet" href="{% static 'node_modules/chartist/dist/chartist.min.css' %}">
    <link rel="stylesheet" href="{% static 'css/light-style-1.min.css' %}">
  <!-- /load styles -->

</head>
<body class="dt-sidebar--fixed dt-header--fixed">

<!-- Loader -->
<div class="dt-loader-container">
  <div class="dt-loader">
    <svg class="circular" viewBox="25 25 50 50">
      <circle class="path" cx="50" cy="50" r="20" fill="none" stroke-width="2" stroke-miterlimit="10"></circle>
    </svg>
  </div>
</div>
<!-- /loader -->

<!-- Root -->
<div class="dt-root">
    <div class="dt-root__inner">
        <!-- Header -->
        <header class="dt-header">

            <!-- Header container -->
            <div class="dt-header__container">

                <!-- Brand -->
                <div class="dt-brand">

                    <!-- Brand tool -->
                    <div class="dt-brand__tool" data-toggle="main-sidebar">
                        <div class="hamburger-inner"></div>
                    </div>
                    <!-- /brand tool -->

                </div>
                <!-- /brand -->

                <!-- Header toolbar-->
                <div class="dt-header__toolbar">
                    <div class="dt-nav-wrapper">
                        <a href="/" class="dt-nav__link">User</a>
                    </div>
                </div>
                <!-- /header toolbar -->

            </div>
            <!-- /header container -->

        </header>
        <!-- /header -->

        <!-- Site Main -->
        <main class="dt-main">
            <!-- Sidebar -->
            <aside id="main-sidebar" class="dt-sidebar">
                <div class="dt-sidebar__container">

                    <!-- Sidebar Navigation -->
                    <ul class="dt-side-nav">

                        <!-- Menu Header -->
                        <li class="dt-side-nav__item dt-side-nav__header">
                            <span class="dt-side-nav__text">main</span>
                        </li>
                        <!-- /menu header -->

                        <!-- Menu Item -->
                        <li class="dt-side-nav__item">
                            <a href="/admin/" class="dt-side-nav__link" title="Dashboard">
                                <i class="icon icon-dashboard icon-fw icon-lg"></i>
                                <span class="dt-side-nav__text">Dashboard</span>
                            </a>
                        </li>
                        <!-- /menu item -->
                        <!-- Menu Item -->
                        <li class="dt-side-nav__item open">
                            <a href="/admin/data/" class="dt-side-nav__link" title="Data">
                                <i class="icon icon-tables icon-fw icon-lg"></i>
                                <span class="dt-side-nav__text">Data</span>
                            </a>
                        </li>
                        <!-- /menu item -->

                    </ul>
                    <!-- /sidebar navigation -->

                </div>
            </aside>
            <!-- /sidebar -->

            <!-- Site Content Wrapper -->
            <div class="dt-content-wrapper">

                <!-- Site Content -->
                <div class="dt-content">

                    <!-- Page Header -->
                    <div class="dt-page__header">
                        <h1 class="dt-page__title">Attendance Data</h1>
                    </div>
                    <!-- /page header -->

                    <!-- Card -->
                    <div class="dt-card overflow-hidden">

                        <!-- Card Body -->
                        <div class="dt-card__body p-0">

                            <!-- Tables -->
                            <div class="table-responsive">
                                <table class="table table-striped mb-0">
                                    <thead class="thead-light">
                                    <tr>
                                        <th scope="col">ID</th>
                                        <th class="text-uppercase" scope="col">Session Name</th>
                                        <th class="text-uppercase" scope="col">Date</th>
                                        <th class="text-uppercase" scope="col">Time</th>
                                        <th class="text-uppercase" scope="col">Event</th>
                                        <th class="text-uppercase" scope="col">Room</th>
                                        <th class="text-uppercase" scope="col">Speaker</th>
                                        <th class="text-uppercase" scope="cok">Report Time</th>
                                        <th class="text-uppercase" scope="col">Attendance</th>
                                    </tr>
                                    </thead>
                                    <tbody>
                                    {% for report in report_list %}
                                    <tr>

                                        <th scope="row"><a id="{{ report.pk }}"></a>{{report.pk}}</th>
                                        <td>{{ report.Session.session_name }}</td>
                                        <td>{{ report.Session.date }}</td>
                                        <td>{{ report.Session.start_time }} - {{ report.Session.end_time }}</td>
                                        <td>{{ report.Session.Event.event_name }}</td>
                                        <td>{{ report.Session.Room.room_name }}</td>
                                        <td>{{ report.Session.Speaker.first_name }} {{ report.Session.Speaker.last_name }}</td>
                                        <td>{{ report.report_time }}</td>
                                        <td>{% if report.attendance < 0 %}N/A{% else %}{{ report.attendance }}{% endif %}</td>
                                    </tr>
                                    {% endfor %}
                                    </tbody>
                                </table>
                            </div>
                            <!-- /tables -->

                        </div>
                        <!-- /card body -->

                    </div>
                    <!-- /card -->


                </div>
                <!-- /site content -->

            </div>
            <!-- /site content wrapper -->

        </main>
    </div>
</div>
<!-- /root -->

<!-- Optional JavaScript -->
<script src="{% static 'node_modules/jquery/dist/jquery.min.js' %}"></script>
<script src="{% static 'node_modules/moment/moment.js' %}"></script>
<script src="{% static 'node_modules/bootstrap/dist/js/bootstrap.bundle.min.js' %}"></script>
<!-- Perfect Scrollbar jQuery -->
<script src="{% static 'node_modules/perfect-scrollbar/dist/perfect-scrollbar.min.js' %}"></script>
<!-- /perfect scrollbar jQuery -->

<!-- masonry script -->
<script src="{% static 'node_modules/masonry-layout/dist/masonry.pkgd.min.js' %}"></script>
<script src="{% static 'node_modules/sweetalert2/dist/sweetalert2.js' %}"></script>
<script src="{% static 'js/functions.js' %}"></script>
<script src="{% static 'js/customizer.js' %}"></script>
<!-- Custom JavaScript -->
<script src="{% static 'node_modules/chartist/dist/chartist.min.js' %}"></script>
<script src="{% static 'node_modules/owl.carousel/dist/owl.carousel.min.js' %}"></script>
<script src="{% static 'js/script.js' %}"></script>
<script src="{% static 'js/custom/charts/dashboard-listing.js' %}"></script>

</body>
</html>