<!DOCTYPE html>
<html lang="en">
<head>
  <!-- Meta tags -->
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="Drift - A fully responsive, HTML5 based admin template">
  <meta name="keywords" content="Responsive, HTML5, admin theme, business, professional, jQuery, web design, CSS3, sass">
  <!-- /meta tags -->
  <title>Codecamp Attendance</title>

  {% load static %}
  <!-- Site favicon -->
  <link rel="shortcut icon" href="{% static 'images/favicon.ico' %}" type="image/x-icon">
  <!-- /site favicon -->

  <!-- Font Icon Styles -->
  <link rel="stylesheet" href="{% static 'node_modules/flag-icon-css/css/flag-icon.min.css' %}">
  <link rel="stylesheet" href="{% static 'vendors/gaxon-icon/styles.css' %}">
  <script src="https://kit.fontawesome.com/0287685415.js" crossorigin="anonymous"></script>
  <!-- /font icon Styles -->

  <!-- Perfect Scrollbar stylesheet -->
  <link rel="stylesheet" href="{% static 'node_modules/perfect-scrollbar/css/perfect-scrollbar.css' %}">
  <!-- /perfect scrollbar stylesheet -->

  <!-- Load Styles -->
    <link rel="stylesheet" href="{% static 'node_modules/owl.carousel/dist/assets/owl.carousel.min.css' %}">
    <link rel="stylesheet" href="{% static 'node_modules/chartist/dist/chartist.min.css' %}">
    <link rel="stylesheet" href="{% static 'css/light-style-1.min.css' %}">
  <!-- /load styles -->

</head>
<body class="dt-sidebar--fixed dt-header--fixed">

<!-- Loader -->
<div class="dt-loader-container">
  <div class="dt-loader">
    <svg class="circular" viewBox="25 25 50 50">
      <circle class="path" cx="50" cy="50" r="20" fill="none" stroke-width="2" stroke-miterlimit="10"></circle>
    </svg>
  </div>
</div>
<!-- /loader -->

<!-- Root -->
<div class="dt-root">
    <div class="dt-root__inner">
        <!-- Header -->
        <header class="dt-header">

            <!-- Header container -->
            <div class="dt-header__container">

                <!-- Brand -->
                <div class="dt-brand">

                    <!-- Brand tool -->
                    <div class="dt-brand__tool" data-toggle="main-sidebar">
                        <div class="hamburger-inner"></div>
                    </div>
                    <!-- /brand tool -->

                </div>
                <!-- /brand -->

                <!-- Header toolbar-->
                <div class="dt-header__toolbar">
                    <div class="dt-nav-wrapper">
                        <a href="/admin/" class="dt-nav__link">Admin</a>
                    </div>
                </div>
                <!-- /header toolbar -->

            </div>
            <!-- /header container -->

        </header>
        <!-- /header -->

        <!-- Site Main -->
        <main class="dt-main">
            <!-- Sidebar -->
            <aside id="main-sidebar" class="dt-sidebar">
                <div class="dt-sidebar__container">

                    <!-- Sidebar Navigation -->
                    <ul class="dt-side-nav">

                        <!-- Menu Header -->
                        <li class="dt-side-nav__item dt-side-nav__header">
                            <span class="dt-side-nav__text">main</span>
                        </li>
                        <!-- /menu header -->

                        <!-- Menu Item -->
                        <li class="dt-side-nav__item open">
                            <a href="javascript:void(0)" class="dt-side-nav__link" title="Attendance">
                                <i class="icon icon-charts icon-fw icon-lg"></i>
                                <span class="dt-side-nav__text">Attendance</span>
                            </a>

                        </li>
                        <!-- /menu item -->
                        <!-- Menu Item -->
                        <li class="dt-side-nav__item">
                            <a href="/data/" class="dt-side-nav__link" title="Data">
                                <i class="icon icon-tables icon-fw icon-lg"></i>
                                <span class="dt-side-nav__text">Data</span>
                            </a>
                        </li>
                        <!-- /menu item -->


                    </ul>
                    <!-- /sidebar navigation -->

                </div>
            </aside>
            <!-- /sidebar -->

            <!-- Site Content Wrapper -->
            <div class="dt-content-wrapper">

                <!-- Site Content -->
                <div class="dt-content">

                    <!-- Page Header -->
                    <div class="dt-page__header">
                        <h1 class="dt-page__title">Codecamp Attendance</h1>
                        <a class="btn btn-primary" href="attendance">Create Attendance Report</a>
                    </div>
                    <!-- /page header -->

                    <!-- Grid -->
                    <div class="row">
                        {% if session_list %}
                        {% for session in session_list %}
                        <!-- Grid Item -->
                        <div class="col-xl-6 col-md-6 order-xl-3">
                            <!-- Card -->
                            <div class="card">

                                <!-- Card Body -->
                                <div class="card-body">

                                    <!-- Card Title-->
                                    <h2 class="card-title">{{ session.session.session_name }}</h2>
                                    <!-- /card title-->

                                    <!-- Card Subitle-->
                                    <h2 class="card-subtitle">{{ session.session.Speaker.first_name }} {{ session.session.Speaker.last_name }}</h2>
                                    <!-- /card subtitle-->

                                    <!-- Card Text-->
                                    <p class="card-text">
                                        {{ session.session.Room.room_name }}<br>
                                        {{ session.session.date }} | {{ session.session.start_time }} - {{ session.session.end_time }}
                                    </p>
                                    <!-- /card text-->

                                    <!-- Card Link-->
                                    {% for report in session.reports %}
                                        <a href="data#{{ report.report.pk }}" class="card-link">Report {{ report.index }}: {{ report.report.attendance }} ppl.</a><br>
                                    {% endfor %}
                                    <!-- /card link-->

                                </div>
                                <!-- /card body -->

                            </div>
                            <!-- /card -->

                        </div>
                        <!-- /grid item -->
                        {% endfor %}
                        {% endif %}

                    </div>
                    <!-- /grid -->

                </div>
                <!-- /site content -->

            </div>
            <!-- /site content wrapper -->

        </main>
    </div>
</div>
<!-- /root -->

<!-- Optional JavaScript -->
<script src="{% static 'node_modules/jquery/dist/jquery.min.js' %}"></script>
<script src="{% static 'node_modules/moment/moment.js' %}"></script>
<script src="{% static 'node_modules/bootstrap/dist/js/bootstrap.bundle.min.js' %}"></script>
<!-- Perfect Scrollbar jQuery -->
<script src="{% static 'node_modules/perfect-scrollbar/dist/perfect-scrollbar.min.js' %}"></script>
<!-- /perfect scrollbar jQuery -->

<!-- masonry script -->
<script src="{% static 'node_modules/masonry-layout/dist/masonry.pkgd.min.js' %}"></script>
<script src="{% static 'node_modules/sweetalert2/dist/sweetalert2.js' %}"></script>
<script src="{% static 'js/functions.js' %}"></script>
<script src="{% static 'js/customizer.js' %}"></script>
<!-- Custom JavaScript -->
<script src="{% static 'node_modules/chartist/dist/chartist.min.js' %}"></script>
<script src="{% static 'node_modules/owl.carousel/dist/owl.carousel.min.js' %}"></script>
<script src="{% static 'js/script.js' %}"></script>
<script src="{% static 'js/custom/charts/dashboard-listing.js' %}"></script>

</body>
</html>